[Unit]
Description=Lance le watchdog StreamCast toutes les minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s

[Install]
WantedBy=timers.target
